@model List<string>

<h1>Top 10 images of dogs</h1>
<p>This page shows us lovely dogs</p>

<div class="d-flex flex-row flex-wrap gap-3 w-100 p-3 bg-image hover-overlay hover-zoom hover-shadow ripple ">

    @foreach (var im in @Model)
    {
        <div class="image-container">
            <img src="@im" alt="Lovely Dog" class="img-fluid hover-image" />
        </div>
    }

</div>

